body {
    background-color: rgba(176,196,222, 0.3);
}

.container_poze {
    position: relative;
}


.poza1, .poza2, .poza3, .poza4, .poza5 {
    display: inline-block;
    position: absolute;
}

.poza1 {
    top: 15px;
    left: 175px;

}

.poza2 {
    top: 15px;
    left: 780px;
    width: 350px;
}
.poza2 img {
    width: 100%;
}

.poza5 {
    top: 420px;
    left:435px;
}

.poza3 {
    top: 1050px;
    left: 245px;
    height:400px;
    width:300px;
}

.poza3 img {
    height: 100%;
    width: 100%;
}

.poza4 {
    top: 1050px;
    left: 800px;
    height: 400px;
    width: 300px;
}

.poza4 img {
    height: 100%;
    width: 100%;
}